extends layout

block content
  h1= title

  a(name='top')
  .table-responsive
    table(id="results").results.table.dt-responsive.nowrap
      thead
        tr
          th(data-priority="9" title="view report details")
            i(title="Report details").far.fa-clipboard
          th(data-priority="5" title="motor manufacturer") Manufacturer
          th(data-priority="5" title="common name of motor") Motor
          th(data-priority="3" title="motor type") Type
          th(data-priority="4" title="date of reported failure") Date
          th(data-priority="2" title="failure modes reported") Failure
          th(data-priority="1" title="geographic location motor was used") Location
      tbody
        each row in results
          tr
            td(title="view report details")
              a(href=row.id_search)
                i(title="Report details").far.fa-clipboard
            td
              a(href=row.manufacturer_search)= row.manufacturer
            td
              a(href=row.motor_search)= row.common_name
            td= row.motor_type
            td(data-sort=row.failure_date_iso)= row.failure_date_local
            td= row.fail_summary
            td= row.location

  p
    | Showing 
    if more
      | #{result_count} of #{total_count}
    else
      | all #{result_count}
    |  results;
    | back up to 
    a(href='#top') the top
    | .

block scripts
  script(type='text/javascript')
    | $(document).ready(function() {
    |   $('#results').DataTable({
    |     paging: false,
    |     info: false,
    |     responsive: true,
    |     columnDefs: [
    |       { targets: 0, orderable: false },
    |     ],
    |     order: [[ 3, "desc" ], [ 1, "asc" ], [ 2, "asc" ]],
    |   });
    | });
